<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务页</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>任务列表</h1>
<form method="post">
    零任务<input type="text" name="player0">零参数<input type="text" name="arg0"><br>
    一任务<input type="text" name="player1">一参数<input type="text" name="arg1"><br>
    二任务<input type="text" name="player2">二参数<input type="text" name="arg2"><br>
    三任务<input type="text" name="player3">三参数<input type="text" name="arg3"><br>
    <input type="submit" value="开始">
</form>
</body>
</html>