<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>任务列表</h1>
    <form method="post">
        模拟器零任务<input type="text" name="player0">模拟器零参数<input type="text" name="arg0"><br>
        模拟器一任务<input type="text" name="player1">模拟器一参数<input type="text" name="arg1"><br>
        模拟器二任务<input type="text" name="player2">模拟器二参数<input type="text" name="arg2"><br>
        模拟器三任务<input type="text" name="player3">模拟器三参数<input type="text" name="arg3"><br>
        <input type="submit" value="开始" >
    </form>
</body>
</html>